{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<h1>Welcome Home !</h1>

<nav class="nav">
    <ul>
        <li><a class="btn btn-link" href="{{ path('company_index') }}">Company listing</a></li>
        <li><a class="btn btn-link" href="{{ path('contact_index') }}">Contact listing</a></li>
    </ul>
</nav>
{% endblock %}
